/////////////////
// BREAKPOINTS //
/////////////////
$breakpoints: (
	"xs" : 0px,
	"sm" : 576px,
	"md" : 768px,
	"lg" : 992px,
	"xl" : 1200px,
	"xxl": 1400px
) !default;

////////////
// COLORS //
////////////
$colors-dark: (
	"semi-dark" : #444
) !default;

$colors-light: (
	"semi-dark" : #666
) !default;

$colors-general: (
) !default;

////////////
// CURSOR //
////////////
$cursor-general: (
	alias,
	all-scroll,
	auto,
	cell,
	col-resize,
	copy,
	crosshair,
	e-resize,
	ew-resize,
	grab,
	grabbing,
	help,
	move,
	n-resize,
	ne-resize,
	nesw-resize,
	ns-resize,
	nw-resize,
	nwse-resize,
	no-drop,
	none,
	not-allowed,
	pointer,
	progress,
	row-resize,
	s-resize,
	se-resize,
	sw-resize,
	text,
	url,
	w-resize,
	wait,
	zoom-in,
	zoom-out
) !default;