/* CUSTOM SCROLLER */
/* Width */
.custom-scrollbar::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: rgb(125, 125, 125);
	opacity: 0.75;
	border-radius: 10px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: rgb(100, 100, 100);
	opacity: 0.5;
}
/* CUSTOM SCROLLER END */

.row-spacing-1 > .row {
	margin-top: .25rem;
	margin-bottom: .25rem;
}

.row-spacing-2 > .row {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.row-spacing-3 > .row {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.row-spacing-4 > .row:first-child {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

.row-spacing-4 > .row:last-child {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.row-spacing-4 > .row {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.row-spacing-5 > .row:first-child {
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.row-spacing-5 > .row:last-child {
	margin-top: 3rem;
	margin-bottom: 1rem;
}

.row-spacing-5 > .row {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

/* Specialized Stylings */