@font-face {
	font-family: Nasalization;
	src: var(--nasalization-rg);
	font-style: normal;
}

.font-nasalization {
	font-family: Nasalization;
}

.font-nasalization-bold {
	font-family: Nasalization;
	font-weight: bold;
}

.font-nasalization-italic {
	font-family: Nasalization;
	font-style: italic;
}