@use "./../functions/colors" as *;

// PREFIX
$prefix: tw- !default;

// THEME COLORS //
// General Theme
$success: #15803d;
$warning: #ffb300;
$error: #dc2828;
$info: #00bbff;

// RGB values
$success-rgb: 21 128 61;
$warning-rgb: 255 179 0;
$error-rgb: 220 40 40;
$info-rgb: 0 187 255;

// Light Theme
$primary: #7491e7;
$secondary: #d5d5d8;
$accent: #5ca5ed;

$primary-rgb: 116 145 231;
$secondary-rgb: 213 213 216;
$accent-rgb: 92 165 237;

// Dark Theme
$primary-dark: #1e40af;
$secondary-dark: #050b1f;
$accent-dark: #002dc2;

$primary-dark-rgb: 30 64 175;
$secondary-dark-rgb: 5 11 31;
$accent-dark-rgb: 0 45 194;

// DEFAULT COLORS //

/*
 * NOTE: The text and background colors' base (dark theme) values are from the
 * colors Gray-50 (light) and Zinc-800 (dark). The light theme's values are
 * derived from the dark theme's values.
 */
// TEXT & BACKGROUND COLORS //
// Light Theme
$text: #040506;
$text-rgb: extractRGB($text);

$text-hover: lighten($text, 37.5%);
$text-hover-rgb: extractRGB($text-hover);

$background: #d5d5d8;
$background-rgb: extractRGB($background);
// Dark Theme
$text-dark: #f9fafb;
$text-dark-rgb: extractRGB($text-dark);

$text-hover-dark: darken($text-dark, 25%);
$text-hover-dark-rgb: extractRGB($text-hover-dark);

$background-dark: #27272a;
$background-dark-rgb: extractRGB($background-dark);

// BORDER COLORS //
// Light Theme
$border-color: #374151;
$border-color-rgb: extractRGB($border-color);

// Dark Theme
$border-color-dark: #d1d5db;
$border-color-rgb-dark: extractRGB($border-color-dark);
