// Tailwind CSS
@use "./tailwind.css";

// Variables
@use "./../../variables" as *;

@use "./mixins/themes" as *;

// Components
@use "./components" as *;

@layer base {
	:root {
		// Theme Colors
		--tw-success: #{$success};
		--tw-warning: #{$warning};
		--tw-error: #{$error};
		--tw-info: #{$info};

		// Navbar Height
		--navbar-height: #{$navbar-height};

		// For the "Rrequired" marker
		--required-color: var(--tw-error);

		// RGB VALUES //
		// Theme Colors
		--tw-rgb-success: #{$success-rgb};
		--tw-rgb-warning: #{$warning-rgb};
		--tw-rgb-error: #{$error-rgb};
		--tw-rgb-info: #{$info-rgb};
	}

	// Dark Theme (Default)
	.dark,
	[data-tw-theme="dark"] {
		@include dark;
	}

	// Light Theme
	[data-tw-theme="light"],
	.light {
		@include light;
	}

	@media (prefers-color-scheme: dark) {
		:root,
		.dark,
		[data-tw-theme="dark"] {
			@include dark;
		}

		[data-tw-theme="light"],
		.light {
			@include light;
		}
	}
	@media (prefers-color-scheme: light) {
		:root,
		[data-tw-theme="light"],
		.light {
			@include light;
		}

		.dark,
		[data-tw-theme="dark"] {
			@include dark;
		}
	}
}

html {
	background-color: var(--tw-bg);
	color: var(--tw-color);
}
