@import url('keyframes.css');

.fa-moon.dark-mode-toggle { color: #FFDD91; }
.fa-moon.dark-mode-toggle:hover { filter: drop-shadow(0 0 1px 5px #FFDD91); text-shadow: 0 0 5px #FFDD91; transition: .125s ease-out;}
.fa-sun.dark-mode-toggle { color: #FFCC91; }
.fa-sun.dark-mode-toggle:hover { filter: drop-shadow(0 0 1px 5px #FFCC91); text-shadow: 0 0 5px #FFCC91; transition: .125s ease-out;}

.dark-mode-toggle.init {
	-webkit-animation: toggle-rise .75s cubic-bezier(.75, 0.0, 0.375, 3) forwards;
	-moz-animation: toggle-rise .75s cubic-bezier(.75, 0.0, 0.375, 3) forwards;
	-o-animation: toggle-rise .75s cubic-bezier(.75, 0.0, 0.375, 3) forwards;
	-ms-animation: toggle-rise .75s cubic-bezier(.75, 0.0, 0.375, 3) forwards;
	animation: toggle-rise .75s cubic-bezier(.75, 0.0, 0.375, 3) forwards;
}

.toggle-rise {
	-webkit-animation: toggle-rise .75s cubic-bezier(.75, 0.0, 0.375, 3) forwards;
	-moz-animation: toggle-rise .75s cubic-bezier(.75, 0.0, 0.375, 3) forwards;
	-o-animation: toggle-rise .75s cubic-bezier(.75, 0.0, 0.375, 3) forwards;
	-ms-animation: toggle-rise .75s cubic-bezier(.75, 0.0, 0.375, 3) forwards;
	animation: toggle-rise .75s cubic-bezier(.75, 0.0, 0.375, 3) forwards;
}

.toggle-fall {
	-webkit-animation: toggle-rise .75s cubic-bezier(.75, 0.0, 0.375, 3) forwards reverse;
	-moz-animation: toggle-rise .75s cubic-bezier(.75, 0.0, 0.375, 3) forwards reverse;
	-o-animation: toggle-rise .75s cubic-bezier(.75, 0.0, 0.375, 3) forwards reverse;
	-ms-animation: toggle-rise .75s cubic-bezier(.75, 0.0, 0.375, 3) forwards reverse;
	animation: toggle-rise .75s cubic-bezier(.75, 0.0, 0.375, 3) forwards reverse;
}