/* TOGGLE RISE */
@-webkit-keyframes toggle-rise {
	0% {
		-webkit-transform: translateY(0.75em);
		-moz-transform: translateY(0.75em);
		-o-transform: translateY(0.75em);
		-ms-transform: translateY(0.75em);
		transform: translateY(0.75em);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0em);
		-moz-transform: translateY(0em);
		-o-transform: translateY(0em);
		-ms-transform: translateY(0em);
		transform: translateY(0em);
		opacity: 1;
	}
}
@-moz-keyframes toggle-rise {
	0% {
		-webkit-transform: translateY(0.75em);
		-moz-transform: translateY(0.75em);
		-o-transform: translateY(0.75em);
		-ms-transform: translateY(0.75em);
		transform: translateY(0.75em);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0em);
		-moz-transform: translateY(0em);
		-o-transform: translateY(0em);
		-ms-transform: translateY(0em);
		transform: translateY(0em);
		opacity: 1;
	}
}
@-o-keyframes toggle-rise {
	0% {
		-webkit-transform: translateY(0.75em);
		-moz-transform: translateY(0.75em);
		-o-transform: translateY(0.75em);
		-ms-transform: translateY(0.75em);
		transform: translateY(0.75em);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0em);
		-moz-transform: translateY(0em);
		-o-transform: translateY(0em);
		-ms-transform: translateY(0em);
		transform: translateY(0em);
		opacity: 1;
	}
}
@-ms-keyframes toggle-rise {
	0% {
		-webkit-transform: translateY(0.75em);
		-moz-transform: translateY(0.75em);
		-o-transform: translateY(0.75em);
		-ms-transform: translateY(0.75em);
		transform: translateY(0.75em);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0em);
		-moz-transform: translateY(0em);
		-o-transform: translateY(0em);
		-ms-transform: translateY(0em);
		transform: translateY(0em);
		opacity: 1;
	}
}
@keyframes toggle-rise {
	0% {
		-webkit-transform: translateY(0.75em);
		-moz-transform: translateY(0.75em);
		-o-transform: translateY(0.75em);
		-ms-transform: translateY(0.75em);
		transform: translateY(0.75em);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0em);
		-moz-transform: translateY(0em);
		-o-transform: translateY(0em);
		-ms-transform: translateY(0em);
		transform: translateY(0em);
		opacity: 1;
	}
}