/* ICON  */
#brand-icon {
	width: 2.5rem;
}

/* MENU HAMBURGER/CLOSE BUTTON */
.menu-toggle {
	width: 2.375rem;
	height: 2.375rem;
	position: relative;
	vertical-align: middle;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);

	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	-ms-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.menu-toggle > span {
	width: 50% !important;
	height: .375rem !important;
	position: absolute;
	display: block;
	opacity: 1;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);

	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	-ms-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.menu-toggle > span:nth-child(odd) {
	left: 0;
	border-radius: 5px 0 0 5px;
}
.menu-toggle > span:nth-child(even) {
	right: 0;
	border-radius: 0 5px 5px 0;
}
.menu-toggle > span:nth-child(1), .menu-toggle > span:nth-child(2) { top: 0.3280625rem; }
.menu-toggle > span:nth-child(3), .menu-toggle > span:nth-child(4) { top: 1.0780625rem; }
.menu-toggle > span:nth-child(5), .menu-toggle > span:nth-child(6) { top: 1.8280625rem; }

.menu-toggle.close > span:nth-child(1) {
	-webkit-transform: rotate(45deg) translate(.375rem, .0625rem);
	-moz-transform: rotate(45deg) translate(.375rem, .0625rem);
	-o-transform: rotate(45deg) translate(.375rem, .0625rem);
	-ms-transform: rotate(45deg) translate(.375rem, .0625rem);
	transform: rotate(45deg) translate(.375rem, .0625rem);
}
.menu-toggle.close > span:nth-child(2) {
	-webkit-transform: rotate(-45deg) translate(-.375rem, .0625rem);
	-moz-transform: rotate(-45deg) translate(-.375rem, .0625rem);
	-o-transform: rotate(-45deg) translate(-.375rem, .0625rem);
	-ms-transform: rotate(-45deg) translate(-.375rem, .0625rem);
	transform: rotate(-45deg) translate(-.375rem, .0625rem);
}
.menu-toggle.close > span:nth-child(3) {
	-webkit-transform: translate(-2.25rem);
	-moz-transform: translate(-2.25rem);
	-o-transform: translate(-2.25rem);
	-ms-transform: translate(-2.25rem);
	transform: translate(-2.25rem);
	opacity: 0;
}
.menu-toggle.close > span:nth-child(4) {
	-webkit-transform: translate(2.25rem);
	-moz-transform: translate(2.25rem);
	-o-transform: translate(2.25rem);
	-ms-transform: translate(2.25rem);
	transform: translate(2.25rem);
	opacity: 0;
}
.menu-toggle.close > span:nth-child(5) {
	-webkit-transform: rotate(-45deg) translate(.375rem, -.125rem);
	-moz-transform: rotate(-45deg) translate(.375rem, -.125rem);
	-o-transform: rotate(-45deg) translate(.375rem, -.125rem);
	-ms-transform: rotate(-45deg) translate(.375rem, -.125rem);
	transform: rotate(-45deg) translate(.375rem, -.125rem);
}
.menu-toggle.close > span:nth-child(6) {
	-webkit-transform: rotate(45deg) translate(-.375rem, -.125rem);
	-moz-transform: rotate(45deg) translate(-.375rem, -.125rem);
	-o-transform: rotate(45deg) translate(-.375rem, -.125rem);
	-ms-transform: rotate(45deg) translate(-.375rem, -.125rem);
	transform: rotate(45deg) translate(-.375rem, -.125rem);
}